@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; height: 100vh; margin: 0;outline: none;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; } 

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif; -ms-overflow-style: scrollbar;border: none;outline: none; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 0px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1,.h1 { }
h2,.h2 { }
h3,.h3 { }
h4,.h4 { }
h5,.h5 { }
h6,.h6 { }
p { padding: 0 0 0px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }  

/* login-page */

.login-container{ background-image: url('/images/bg-image.jpg');padding-right: 180px ;min-height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;}
.realtive-box{position: relative;}
.login-box{z-index: 1;box-sizing: border-box; width:445px;padding:50px 40px 55px 50px ;color: #FFFFFF;border-radius: 20px;background: rgba(255, 255, 255, 0.1);backdrop-filter: blur(12.5px);}
.login-cp-logo{margin-bottom:40px;}
.h1{ font-size: 40px; font-weight: 700;line-height:46px;color: #FFFFFF;text-align:left; margin-bottom:10px;}
.login-title{font-weight: 300;font-size: 22px;line-height: 20px;color: #FFFFFF;text-align: left;margin-bottom: 40px;font: normal;}
.form-floating > .form-control{padding: 0px;}      
.form-floating>label,.form-select>label{padding: 1rem 0; color: #D2D2D2;font-weight: 400;font-size: 15px;line-height: 24px;border: none;}
.form-control,.form-select{ background: transparent;border-radius:0px;border: none;color:#D2D2D2;border-bottom:1px solid #D2D2D2;}
.form-control:focus ,.form-select:focus{ background:transparent;color:#D2D2D2;box-shadow: none;}
.btn-login{margin-top: 50px;margin-bottom: 25px;}
.btn-lg {border-radius: 50px;color: #FFFFFF;background: #10D7FF;width: 142px;height: 48px;font-size: 18px;line-height: 24px;align-items: center;padding: 12.5px;}
.forget-pssword{color: #FFFFFF;font-style: normal;font-weight: 400;font-size: 13px;line-height: 24px;}
.new-account-line{color: #ffffff;font-size: 15px;line-height: 24px;font-weight: 400;}
.signup{color: #10D7FF;font-weight: 500}
.down-coin{position: absolute;top: 525px;right: 363px;z-index: 2;}
.upper-coin{position: absolute;top: -55px;right: -140px;z-index: 0;}
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {padding-top:36px;}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label { opacity: .65; }
.mrb{margin-bottom: 34px}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {line-height: 48px;}
.form-select{padding-left: 0px; color: #000;line-height: 40px;}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header{ display: flex;align-items: center;z-index: 1;height: 105px; width: 100%; background-color: #02265A;color:#FFFFFF;}
.company{margin-left: 30px;margin-right: 70px;}
.toggle-sidebar{background: transparent;border: none; height: 18px;width: 18px;}
.search-bar {position: relative;margin-left: 60px;}
.search-bar .form-control {border: 1px solid transparent;color: #ffffff;background: url("../images/search.svg") no-repeat;background-position: 12px center;width: 100%;font-size: 16px;line-height: 23px;padding: 12px 16px 12px 48px;}
.search-bar .form-control::-webkit-input-placeholder {color: #ffffff;}
.search-bar .form-control:hover,
.search-bar .form-control:focus,
.search-bar .form-control:active {border: 1px solid #ADADAD !important;  transition: all 0.2s ease;}
.btn-buy{margin-left: auto;  ;border-radius: 50px;color: #FFFFFF;background: #10D7FF;min-width: 142px;height: 48px;font-size: 18px;line-height: 24px;align-items: center;padding: 12.5px;}
.header .dropdown {margin-left: 31px;margin-right: 35px;}
.header .dropdown:last-child {margin-left: 0;}
.header .dropdown-toggle {background: transparent;color: rgb(248, 248, 248);border: none}
.header .dropdown-toggle .notification {display: block;height: 26px;width: 26px;margin: 6px;background: non}
.header .dropdown-toggle::after {display: block;border: 0;margin: 0;}
.header .profile {display: flex;align-items: center;padding: 4px 10px;}
.profile span {padding: 11px;font-size: 16px;line-height: 18px;color: #ffffff;}
.header .dropdown-menu {box-shadow: 0px 0px 14px 0px #00000012;padding: 10px;font-size: 15px; line-height: 18px;color: #3E3E3E;font-weight: 400; min-width: 140px;}
.header .dropdown-menu .dropdown-item { padding: 10px;color: #3E3E3E;}
.btn-close-search:focus,
.btn-search:focus { box-shadow: none;}
.btn-search,.header .btn-close-search { display: none;}
.header .btn-search {margin-right: 25px; padding: 10px; margin-left: auto;}
.header .btn-search img {display: block;height: 20px;width: 20px;}
.header .btn-primary{padding: 0;}
.btn-hide{display: none;}
.header .logo-mobile {display: none;}
.logo { display: inline-block; }
.logo>img { display: block; }

.main-container{display: flex;background-color: #02265A;}
.side-bar{padding-left:18px;padding-right: 30px;height: 100vh;}
.nav-item{display: flex;flex-direction: row;justify-content:space-between;align-content: center;margin-bottom: 15px;}
.link-span{font-size: 16px;font-weight: 500;line-height: 24px;text-align: left;color: #FFFFFF;}
.nav-link{padding: 0px;}
.nav-item:hover{
background: rgba(255, 255, 255, 0.1);
border-radius: 50px;
width: 213px;
}   
.active .icon-img{background: #00ffff;}

/* .icon-img {background: #00ffff;border-radius: 50%;width: 42px;height: 42px;padding-left: 12px;padding-top: 12px;display: inline-block;} */
.icon-img{margin-right: 25px;border-radius: 50%;width: 42px;height: 42px;padding-left: 12px;padding-top: 12px;display: inline-block;}

    /* .icon-img1 img{background-color: #10D7FF;} */
/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.sidebar{min-width: 260px;height: 100vh; box-sizing: border-box;}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.main-content {width:calc(100% - 260px);background-color: #fff;border-radius: 20px;margin-right: 30px;padding: 40px;margin-bottom: 30px;}
.dashbord{font-style: normal;font-weight: 500;font-size: 30px;line-height: 24px;margin-bottom: 40px;}
.info{padding:30px;background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08); border-radius: 20px;width:100%;margin-bottom: 10px;}
.info-2{margin-left: 30px;margin-right: 30px;}
.info-box{margin-bottom: 30px;display: flex;justify-content: space-between;align-items: center;}
.title-info{font-weight: 400;font-size: 18px;line-height: 24px;margin-bottom: 24px;}
.currency{font-weight: 500;font-size: 24px;line-height: 24px;margin-bottom: 25px;}
.profit-loss{font-weight: 400;font-size: 13px;line-height: 24px;margin-right: 10px;padding: 10px;border-radius: 3px}
.status-present{font-weight: 300;font-size: 13px;line-height: 24px;}
span.text-success{background: #ECFFF8;}
span.text-danger{background: #FFEEEE;}

.overview-box{padding: 30px;background: #FFFFFF;
box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;max-width:100%;}
.sales-graph,
.sales-chart {padding: 30px;background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;max-width:100%;}
.img-fluid{width: 100%;}
.sales-title h2,
.sales-chart h2 {
color: #000000;font-size: 22px;font-weight: 500;line-height: 26px;}

.sales-title {display: flex;justify-content: space-between;align-items: center;}
.sales-graph .legend {display: flex;}

.legend .btn {font-size: 12px;line-height: 15px;color: #000000;font-weight: 400;padding: 0px 0px 6px;margin: 0px 12px 6px;}
.legend .btn-check:focus+.btn,.btn:focus {box-shadow: none;}

.sales-graph .legend .active,
.sales-graph .legend .btn:hover.active {color: #10D7FF;border-bottom: 1px solid #10D7FF;border-radius: 0;}

.sales-graph .legend .btn:hover {color: #3E3E3E;}
.title-list button{font-weight: 400;font-size: 12px;line-height: 24px;color: #00ffff;}
.title-list h2{padding: 0;}
.coin-list-data{background: #02265A;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.04);border-radius: 20px; color: white ; padding: 25px 30px;}
.coin-list table{width: 100%;text-align: justify;}
.md{font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;padding-top: 15px;}
.sb{font-weight: 300;font-size: 13px;opacity: 0.7;line-height: 24px;padding-bottom: 10px;}
.coin-price{color: #00D588;text-align: right;}
.coin-list tr:nth-child(even){border-bottom: 1px solid rgba(196, 196, 196, 1);}
.coin-list tr:last-child{border-bottom : 0;}
tr:last-child{border-bottom: non}



.tramsaction-table-container{background: #FFFFFF;margin-top: 30px;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;padding: 30px;
}
.transaction-table th{font-weight: 400;font-size: 15px;line-height: 24px;letter-spacing: 0.1em;font-variant: small-caps;text-transform: uppercase;color: #A9A9A9;padding: 10px 10px 10px 20px;}    
.transaction-table td{font-weight: 400;font-size: 14px;line-height: 24px;padding: 10px 10px 10px 20px;} 
.transaction-table{border-bottom: 1px solid #F2F2F2;;}    
.title-list h2{font-weight: 400;font-size: 18px; line-height: 24px;}      

/*inner page*/
input[type=text] {outline: none !important;box-shadow: none !important;}
.container-3.form-floating > label{color:#999999;}
.container-3 .form-control{color: #000;} 
.container-3 .form-control:focus{color: #000;}       

.file-upload { position: relative;}
.file-content span {color: #ADADAD;padding-left: 20px;font-size: 15px;line-height: 20px;}
.inner-page-form .file-upload .file-content {position: relative;z-index: 0;display: flex;align-items: center;margin-bottom: 28px;}
.input-group>.form-control,
.input-group>.form-select {position: absolute;width: 35%;}
.file-upload .form-control {border: none;position: absolute;top: 0px;left: 0;z-index: 1;opacity: 0;}
.file-upload .btn-outline-primary {background-color: #BFBFBF;color: #ffffff;padding: 8px 26px;font-size: 15px;line-height: 18px;border-radius: 50px;}
.file-upload .btn-outline-primary img {vertical-align: middle;margin-right: 6px;width: 20px;height: 20px;}
.form-check-input:checked {background-color: #10D7FF;border-color: #10D7FF;}
.btn-outline-primary{color: #02265A;background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;padding: 8px 36px; }
.btn-primary{background: #10D7FF;border-radius: 50px;padding: 8px 36px;font-weight: 500;font-size: 18px;line-height: 24px;border: none;}
.tab-content>.tab-pane{padding-top: 20px;}
.tab-link{background: transparent;border: none;}
button.tab-link.active { border-bottom: 1px solid #4bebf7;}
.bd-dash{border-bottom: 1px dashed #BFBFBF;}
--------------------------------------------------------------------------------------------------------*/
.footer { background: #333; padding: 15px; text-align: center;}
.copyright { padding: 0; color: #fff; font-size: 0.8em; line-height: 1.2em; }
.container-4{background: #FFFFFF;box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.08);border-radius: 20px;padding: 26px 29px;margin-top: 30px;}
.five-col h3{font-weight: 400;font-size: 15px;line-height: 24px;padding-top: 20px;padding-bottom: 9px;}


/*+++++++++++++++++++++++*/

.sidebar { height: 100%;  padding-right: 30px; transition: all 0.2s ease;z-index: 0;visibility: visible;overflow-y: hidden;}
body.toggle-sidebar {overflow: hidden;}
.sidebar-open .main-content {max-width: 100%;flex-grow: 1;margin-left: 30px;}
.sidebar-open .sidebar {flex-shrink: 1;margin-left: -260px;transition: all 0.2s ease;overflow: hidden;}
.main-content{ background-color: #F3F8FF; border-radius: 20px; flex-grow: 0; flex-shrink: 0;
     flex-basis: calc(100% - 280px); max-width: calc(100% - 280px);margin-bottom: 38px; 
    z-index: 1;transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);}

    .mobile-search{display: none;}
  
    input.search-mobile-device {
      
        width: 100vw;
padding: 10px;
        height: 48px;
    }
    #search-input{display:none;padding: 5px;position: absolute;top: 24px;}
/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) {
.info-box{
flex-wrap: wrap;margin: 0;}
.info{margin: 0; margin-bottom: 10px;width: 100%;}
.coin-list-data{margin-top: 10px}
}
@media (max-width:991px) {.sidebar-open .overlay {visibility: visible;opacity: 1;}
    
    .sidebar {position: fixed; margin-left: -280px;z-index: 30;width: 280px;background: #02265a;}
    .overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}

    .sidebar-open .sidebar {
        margin-left: 0;
    }

    body.sidebar-open { overflow: hidden;}
    .main-content {max-width: 100%;flex-basis: 100%;flex-grow: 0;}

    /* login page
    -----------------------------------------------*/
    .login-container{margin: 0;padding: 25px;}
    .upper-coin{display: none;}
    .login-box{margin: 0 auto;float: none;background: #08244db0;}
    .login-cp-logo{margin-left: auto;margin-right: auto;}

    /*navbar
    -------------------------*/
    .company { margin-left: 10px;margin-right: 20px;}
    .header .logo {display: none;}
    .header .logo-mobile {display: block; height: 30px; width: 30px; margin-left: 10px; }
}
@media (max-width:767px) {
    /**login
    ------------------------*/
   /* navbar
   ---------------------- */
.header .dropdown { margin-left: 0px;margin-right: 5px;}
.ic-down{display: none;}
.dropdown span{display: none;} 
.search-bar input{display: none;}

 }
@media (max-width:575px) {
    .btn-hide{display:block;}
    /* login page
    -----------------------------------------------*/
    .login-container{margin: 0;padding:0px;}
    .login-box{display: flex;flex-direction: column;justify-content: center;height: 100vh;width: 100% ;}
    .h1{text-align: center;font-size: 30px;}
    .login-title{text-align: center;}
    .new-account-line{text-align: center;}
    .login-cp-logo{margin-top: 2px;}
    .mobile-search{display: block;}


    /*******nav-bar******************-*/
    .toggle-sidebar{margin-right: 10px;}
    .btn-buy{margin-left: 5px;}
    .search-bar{margin-left:5px}


    /*******************************/
.info-icon img{width: 80%;height: 80%;}




    .main-content{padding: 15px 10px;}
    .coin-list-data{padding: 10px 15px;width: 80%;margin:10px auto;}
    .sm-center{text-align: center;}
    .sales-title h2{font-size: 12px;}
    .sales-title{flex-direction: column}
    .info{padding: 20px 10px;}
    .main-container{padding: 8px;}
 }
 /* 13fg54br  */
